@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: "../fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "../images/" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
  @if function-exists(image-url) {
    @return image-url($url);
  }

  @else {
    @return url($slick-loader-path + $url);
  }
}

@function slick-font-url($url) {
  @if function-exists(font-url) {
    @return font-url($url);
  }

  @else {
    @return url($slick-font-path + $url);
  }
}

/* Slider */
.slider {
  height: auto;
  background-color: #fff;
}

.slick-list {
  .slick-loading & {
    background: #fff url("../images/ajax-loader.gif") center center no-repeat;
  }
}

/* Icons */
@if $slick-font-family == "slick" {
  @font-face {
    font-family: "slick";
    src: slick-font-url("../fonts/slick.eot");
    src: slick-font-url("../fonts/slick.eot?#iefix") format("embedded-opentype"), slick-font-url("../fonts/slick.woff") format("woff"), slick-font-url("../fonts/slick.ttf") format("truetype"), slick-font-url("../fonts/slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

/* Arrows */
.slick-arrow {
  background: $white;
  border-radius: 50%;
  bottom: 40%;
  cursor: pointer;
  height: 46px;
  position: absolute;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  width: 46px;
  z-index: 1000;
  color: transparent;

  @include breakpoint(large) {
    bottom: 50%;
  }
}

.fal {
  font-family: "Font Awesome 5 Pro";
  font-size: 25px;
  transform: rotate(90deg);
}

.far {
  font-family: "Font Awesome 5 Pro";
  font-size: 25px;
  transform: rotate(-90deg);
}

.slick-prev,
.slick-next {
  background: $secondary;
  cursor: pointer;
  height: 46px;
  position: absolute;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  width: 46px;
  z-index: 1000;
  color: white;

  @include breakpoint(medium) {
    width: 66px;
    height: 66px;
  }

  &.slick-prev {
    left: 0.5vw;
    transform: rotate(-90deg);
    bottom: 32vw;

    @include breakpoint(medium) {
      bottom: 20vw;
      left: -4.5vw;
    }

    @include breakpoint(large) {
      left: 1.5vw;
    }

    @include breakpoint(xlarge) {
      bottom: 50%;
      left: -25px;
    }
  }

  &.slick-next {
    transform: rotate(90deg);
    right: 0.5vw;
    bottom: 32vw;

    @include breakpoint(medium) {
      bottom: 20vw;
      right: -4.5vw;
    }

    @include breakpoint(large) {
      right: 1.5vw;
    }

    @include breakpoint(xlarge) {
      bottom: 50%;
      right: -25px;
    }
  }

  span {
    background: $white;
    display: inline-block;
    height: 16px;
    position: absolute;
    top: 12px;
    transition: background-color 0.5s;
    width: 2px;

    &:first-child {
      left: 16px;
      transform: rotate(45deg);
    }

    &:last-child {
      right: 16px;
      transform: rotate(-45deg);
    }
  }
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  // position: absolute;
  // bottom: 150px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  padding-top: 50px;
  margin: 0;
  width: 100%;

  li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;

    button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0;
      font-size: 0;
      color: transparent;
      padding: 5px;
      cursor: pointer;

      &:hover,
      &:focus {
        outline: none;

        &::before {
          opacity: $slick-opacity-on-hover;
        }
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: " ";
        width: 20px;
        height: 20px;
        font-family: $slick-font-family;
        font-size: 15px;
        line-height: 20px;
        border: 1px solid black;
        border-radius: 50%;
        text-align: center;
        color: transparent;
        opacity: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }

    &.slick-active button::before {
      color: black;
      background: black;
      opacity: 1;
    }

    &.slick-active button {
      color: black;
    }
  }
}
