{#
/**
 * @file
 * Default theme implementation of the menu_layout_item.
 *
 * Renders single view inside the menu-layout.html.twig wrapper.
 *
 * Available variables:
 * - content: The view render array.
 * - attributes: Menu layout item attributes.
 *
 * @see template_preprocess_menu_layout_item()
 */
#}

{%
  set classes = [
    'menu-layout__item',
    'menu-layout__item--' ~ layout|clean_class
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ content }}
</div>
