<div class="blog-content-wrap blog-single-content-wrap js-appen-content">
    <div class="appen-wrap">
        <div class="appen-row">
            <div class="appen-col appen-col--center blog-single-content blog-content">
                <p>
                    <strong>SYDNEY</strong> — <time>Oct. 23, 2019</time> — Appen
                    Limited, the leading provider of high-quality datasets
                    needed s quickly and at scale, today unveiled its Crowd Code
                    of Ethics. The initiative reflects the importance of the
                    Crowd’s well-being in creating the data for AI systems and
                    applications that people worldwide increasingly use and
                    depend on every day. Moreover, it formalizes the best
                    practices Appen has developed over the past several years to
                    support and promote contractor wellness. Appen is also now a
                    proud member of the Global Impact Sourcing Coalition (GISC),
                    a global network of businesses creating jobs for those most
                    in need.
                </p>
                <blockquote>
                    <p>
                        “ The AI industry depends on the people who collect and
                        label the data,” said Appen CEO Mark Brayan. “They help
                        make machine learning-empowered solutions possible and
                        today we are formalizing our commitment to their
                        well-being. We believe that our customers should know
                        that their partners stand for the ethical treatment of
                        contractors.”
                    </p>
                </blockquote>
                <p>
                    Appen’s Crowd Code of Ethics comprises six principles:
                </p>
                <h3>Fair Pay</h3>
                <p>
                    Our goal is to pay our Crowd above minimum wage in every
                    market around the world where we operate.
                </p>
                <h3>Inclusion</h3>
                <p>
                    A diverse, inclusive culture is vital to our mission of
                    helping build better AI. We offer opportunities for
                    individuals of all abilities and backgrounds.
                </p>
                <h3>Crowd Voice</h3>
                <p>
                    Our Crowd has a valued voice at Appen, and their feedback
                    helps us to continuously improve.
                </p>
                <h3>Privacy and Confidentiality</h3>
                <p>
                    Any information collected about the Crowd is requested
                    solely for the purposes of the project. Appen takes
                    precautions to protect that information and does not release
                    private data on individuals to third parties without
                    consent.
                </p>
                <h3>Communication</h3>
                <p>
                    We believe in helpful, transparent, and responsive lines of
                    communication with our Crowd.
                </p>
                <h3>Well-being</h3>
                <p>
                    Appen promotes wellness, community, and connections through
                    online forums and best practices.
                </p>
                <p>
                    Appen’s Crowd Care team will support wellness by ensuring
                    the company’s adherence to the Crowd Code of Ethics and will
                    educate customers about its benefits.
                </p>
                <p>
                    “Our Crowd Code of Ethics is important to ensuring that our
                    Crowd is treated equitably around the world,” said Kerri
                    Reynolds, Appen’s senior vice president of Crowd Sourcing
                    Operations and Human Resources. “The Code of Ethics aligns
                    with our corporate values and demonstrates our commitment to
                    Crowd wellness.”
                </p>
                <p>
                    Sebastian Kohlmeier at the Allen Institute for Artificial
                    Intelligence (AI2) added, “We support Appen’s efforts to
                    develop a Code of Ethics for its crowd. We believe these
                    considerations are essential for both the crowd and the
                    industry to thrive, and this complements our ethical pricing
                    and best practices guidelines we issued earlier this year.”
                    The Allen Institute for Artificial Intelligence was founded
                    in 2014 by Microsoft co-founder Paul Allen to conduct AI
                    research and engineering in service of the common good.
                </p>
                <h2>
                    Appen Joins Global Impact Sourcing Coalition to Help Build
                    More Inclusive Supply Chains
                </h2>
                <p>
                    In addition to launching its Crowd Code of Ethics, Appen is
                    now a member of the Global Impact Sourcing Coalition, an
                    organization whose mission is to “build more inclusive
                    global supply chains through advancing wide-scale adoption
                    of Impact Sourcing.” The alignment between Appen’s Code of
                    Ethics and GISC’s mission creates a strong partnership in
                    the effort to provide opportunities for individuals around
                    the world.
                    <br/><br/>
                </p>
                <h2>About Appen</h2>
                <p>
                    Appen collects and labels images, text, speech, audio, and
                    video used to build and continuously improve the world’s
                    most innovative artificial intelligence systems. With
                    expertise in more than 180 languages, a global crowd of over
                    1 million skilled contractors, and the industry’s most
                    advanced AI-assisted data annotation platform, Appen
                    solutions provide the quality, security, and speed required
                    by leaders in technology, automotive, financial services,
                    retail, manufacturing, and governments worldwide. Founded in
                    1996, Appen has customers and offices around the world.
                </p>
            </div>
        </div>
    </div>
</div>
