<div class="appen-wrap">
    <div class="appen-row">
        <div class="appen-col appen-col--center">
            <div class="quote-slider-container">
                <div class="quote-slider js-quote-slider swiper-container">
                    <div class="swiper-wrapper quote-slider__wrap">
                        <div
                            class="blog-quote quote-slider__slide swiper-slide"
                        >
                            <div class="blog-quote__text">
                                The AI industry depends on the people who
                                collect and label the data. They help make
                                machine learning-empowered solutions possible
                                and today we are formalizing our commitment to
                                their well-being. We believe that our customers
                                should know that their partners stand for the
                                ethical treatment of contractors.
                            </div>
                            <div class="blog-quote__author-name">
                                Mark Brayan
                            </div>
                            <div class="blog-quote__author-job">
                                CEO, Appen
                            </div>
                        </div>
                        <div
                            class="blog-quote quote-slider__slide swiper-slide"
                        >
                            <div class="blog-quote__text">
                                The AI industry depends on the people who
                                collect and label the data. They help make
                                machine learning-empowered solutions possible
                                and today we are formalizing our commitment to
                                their well-being. We believe that our customers
                                should know that their partners stand for the
                                ethical treatment of contractors.
                            </div>
                            <div class="blog-quote__author-name">
                                Mark Brayan
                            </div>
                            <div class="blog-quote__author-job">
                                CEO, Appen
                            </div>
                        </div>
                        <div
                            class="blog-quote quote-slider__slide swiper-slide"
                        >
                            <div class="blog-quote__text">
                                The AI industry depends on the people who
                                collect and label the data. They help make
                                machine learning-empowered solutions possible
                                and today we are formalizing our commitment to
                                their well-being. We believe that our customers
                                should know that their partners stand for the
                                ethical treatment of contractors.
                            </div>
                            <div class="blog-quote__author-name">
                                Mark Brayan
                            </div>
                            <div class="blog-quote__author-job">
                                CEO, Appen
                            </div>
                        </div>
                    </div>
                    <div class="quote-slider__bottom">
                        <div class="quote-slider__navigation">
                            <div
                                class="recommended__navigation-prev-btn recommended-arrow js-quote-slider-prev"
                            ></div>
                            <div class="quote-slider__pages">
                                <span class="js-pages-current">1</span>
                                /
                                <span class="js-pages-total">1</span>
                            </div>
                            <div
                                class="recommended__navigation-next-btn recommended-arrow js-quote-slider-next"
                            ></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
