// Variables

$primary: #ff8000;
$secondary: #572af8;
$white: #fff;
$smoke: #bebebe;
$black: #000;
$nearblack: #333;
$dark: #2b2b2b;
$gray: #dedede;
$light-gray: #e6e6e6;
$lighter-gray: #f3f3f3;
$medium-gray: #707070;
$dark-gray: #8a8a8a;
$gray-op: rgba(222, 222, 222, 0.3);
$chia: #ccc;
$cotton-candy: #4bbdba;
$orange: #ff8001;
$blue: #bae4ee;
$blueberry: $secondary;
