<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/themes/custom/promet_v3/css/bootstrap.min.css">

    <link rel="stylesheet" href="/themes/custom/promet_v3/css/style.min.css">
  </head>
  <body id="demo-components">

    <div class="container-fluid">
      <div class="row">
        <div class="col">

          <div>
            <h2>CTA</h2>
            <hr>

            <!--btn-solid--with-right-arrow-->
            <section>
              <div>
                <a href="#" title="..." class="btn btn-solid btn-solid--right-arrow">
                  <span class="btn-solid__label">Let's Work Together</span>
                </a>
              </div>
              <div>
                <a class="btn btn-link" data-toggle="collapse" href="#headers-h1"
                  role="button" aria-expanded="false" aria-controls="collapseExample">
                  Details >
                </a>
                <div class="collapse" id="headers-h1">
                  <div class="card card-body">
                    <h6>Markup</h6>
                    <code>
                        &lt;a href=&quot;#&quot; title=&quot;...&quot; class=&quot;btn btn-solid
                        btn-solid--right-arrow&quot;&gt;
                        &lt;span class=&quot;btn-solid__label&quot;&gt;Let's Work Together&lt;/span&gt;
                        &lt;/a&gt;
                      </code>
                    <br>
                    <h6>CSS</h6>
                    <div>
                      <pre>
                      .btn-solid {
                        &nbsp; display: table;
                        &nbsp; min-height: 43px;
                        &nbsp; padding: 0 25px;
                        &nbsp; color: #fff;
                        &nbsp; font-family: hindsemibold;
                        &nbsp; font-size: 13px;
                        &nbsp; letter-spacing: 1.86px;
                        &nbsp; line-height: 21px;
                        &nbsp; text-align: center;
                      }
                      .btn-solid--right-arrow {
                        &nbsp; padding: 0 45px;
                        &nbsp; border: 1px solid #df4300;
                        &nbsp; border-radius: 0;
                        &nbsp; background-color: #d74100;
                      }
                      .btn-solid--right-arrow:hover {
                        &nbsp; padding-left: 0;
                        &nbsp; border: 0;
                        &nbsp; background-color: transparent;
                        &nbsp; color: #df4300;
                        &nbsp; text-transform: uppercase;
                      }
                      </pre>
                    </div>
                  </div>
                </div>
              </div>
            </section>


        </div>
      </div>
    </div>
    <script src="/themes/custom/promet_v3/js/jquery.min.js"></script>
    <script src="/themes/custom/promet_v3/js/bootstrap.min.js"></script>
    <script src="/themes/custom/promet_v3/js/popper.min.js"></script>

  </body>
</html>
