<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/themes/custom/promet_v3/css/bootstrap.min.css">

    <link rel="stylesheet" href="/themes/custom/promet_v3/css/style.min.css">
  </head>
  <body id="demo-components">

    <div class="container-fluid">
      <div class="row">
        <div class="col">

          <div>
            <h1>Typography</h1>
            <hr>

            <!--intro-header-->
            <section>
              <div>
                <h1 class="intro-header">INTRO - h1</h1>
              </div>
              <div>
                <a class="btn btn-link" data-toggle="collapse" href="#headers-h1"
                  role="button" aria-expanded="false" aria-controls="collapseExample">
                  Details >
                </a>
                <div class="collapse" id="headers-h1">
                  <div class="card card-body">
                    <h6>Markup</h6>
                    <code>
                      &lt;h1 class=&quot;intro-header&quot;&gt;INTRO - h1&lt;/h1&gt;
                    </code>
                    <br>
                    <h6>CSS</h6>
                    <div>
                      <pre>
                      .intro-header {
                        &nbsp; color: #c7c7c7;
                        &nbsp; font-family: hindregular;
                        &nbsp; font-size: 16px;
                        &nbsp; letter-spacing: 4px;
                        &nbsp; line-height: 26px;
                      }
                      </pre>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!--main-header-->
            <section>
              <div>
                <h2 class="main-header">Who We Are - h2</h2>
              </div>
              <div>
                <a class="btn btn-link" data-toggle="collapse" href="#headers-h2"
                  role="button" aria-expanded="false" aria-controls="collapseExample">
                  Details >
                </a>
                <div class="collapse" id="headers-h2">
                  <div class="card card-body">
                    <h6>Markup</h6>
                    <code>
                      &lt;h2 class=&quot;main-header&quot;&gt;Who We Are - h2&lt;/h2&gt;
                    </code>
                    <br>
                    <h6>CSS</h6>
                    <div>
                      <pre>
                      .main-header {
                        &nbsp; color: #fff;
                        &nbsp; font-family: montserratbold;
                        &nbsp; font-size: 60px;
                        &nbsp; letter-spacing: 1.88px;
                        &nbsp; line-height: 90px;
                      }
                      </pre>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!--title--first-level-->
            <section>
              <div>
              <h3 class="title title--first-level">Sample Title - h3</h3>
              </div>
              <div>
                  <a class="btn btn-link" data-toggle="collapse" href="#headers-h3"
                    role="button" aria-expanded="false" aria-controls="collapseExample">
                    Details >
                  </a>
                  <div class="collapse" id="headers-h3">
                    <div class="card card-body">
                      <h6>Markup</h6>
                      <code>
                        &lt;h3 class=&quot;title title--first-level&quot;&gt;Sample Title - h3&lt;/h3&gt;
                      </code>
                      <br>
                      <h6>CSS</h6>
                      <div>
                        <pre>
                        .title--first-level {
                          &nbsp; font-family: montserratlight;
                          &nbsp; font-size: 40px;
                          &nbsp; font-size: 40px;
                          &nbsp; line-height: 56px;
                        }
                        .title {
                          &nbsp; color: #0d0d0d;
                        }
                        </pre>
                      </div>
                    </div>
                  </div>
                </div>
            </section>

            <!--title--second-level-->
            <section>
              <div>
                <h4 class="title title--second-level">Sample Title - h4</h4>
              </div>
              <div>
                <a class="btn btn-link" data-toggle="collapse" href="#headers-h4"
                  role="button" aria-expanded="false" aria-controls="collapseExample">
                  Details >
                </a>
                <div class="collapse" id="headers-h4">
                  <div class="card card-body">
                    <h6>Markup</h6>
                    <code>
                      &lt;h4 class=&quot;title title--second-level&quot;&gt;Sample Title -
                      h4&lt;/h4&gt;
                    </code>
                    <br>
                    <h6>CSS</h6>
                    <div>
                      <pre>
                        .title--second-level {
                          &nbsp; font-size: 28px;
                          &nbsp; line-height: 33px;
                        }
                        .title {
                          &nbsp; color: #0d0d0d;
                        }
                      </pre>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!--title--third-level-->
            <section>
              <div>
                <h5 class="title title--third-level">Sample Title - h5</h5>
              </div>
              <div>
                <a class="btn btn-link" data-toggle="collapse" href="#headers-h5"
                  role="button" aria-expanded="false" aria-controls="collapseExample">
                  Details >
                </a>
                <div class="collapse" id="headers-h5">
                  <div class="card card-body">
                    <h6>Markup</h6>
                    <code>
                      &lt;h5 class=&quot;title title--third-level&quot;&gt;Sample Title -
                      h5&lt;/h5&gt;
                    </code>
                    <br>
                    <h6>CSS</h6>
                    <div>
                      <pre>
                        .title--third-level {
                          &nbsp; font-size: 22px;
                          &nbsp; line-height: 30px;
                        }
                        .title {
                          &nbsp; color: #0d0d0d;
                        }
                        </pre>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!--title--fourth-level-->
            <section>
              <div>
                <h6 class="title title--fourth-level">Sample Title - h6</h6>
              </div>
              <div>
                <a class="btn btn-link" data-toggle="collapse" href="#headers-h6"
                  role="button" aria-expanded="false" aria-controls="collapseExample">
                  Details >
                </a>
                <div class="collapse" id="headers-h6">
                  <div class="card card-body">
                    <h6>Markup</h6>
                    <code>
                      &lt;h6 class=&quot;title title--fourth-level&quot;&gt;Sample Title -
                      h6&lt;/h6&gt;
                    </code>
                    <br>
                    <h6>CSS</h6>
                    <div>
                      <pre>
                      .title--fourth-level {
                        &nbsp; font-size: 18px;
                        &nbsp; line-height: 26px;
                      }
                      .title {
                        &nbsp; color: #0d0d0d;
                      }
                      </pre>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!--title--fourth-level-->
            <section>
              <div>
                <h3 class="quote-style">&ldquo;Quote Style&rdquo;</h3>
              </div>
              <div>
                <a class="btn btn-link" data-toggle="collapse" href="#qoute-style"
                  role="button" aria-expanded="false" aria-controls="collapseExample">
                  Details >
                </a>
                <div class="collapse" id="qoute-style">
                  <div class="card card-body">
                    <h6>Markup</h6>
                    <code>
                      &lt;h3 class=&quot;quote-style&quot;&gt;&ldquo;Quote Style&rdquo;&lt;/h3&gt;
                    </code>
                    <br>
                    <h6>CSS</h6>
                    <div>
                      <pre>
                      .quote-style {
                        &nbsp; color: #0a0a0a;
                        &nbsp; font-family: montserratlight;
                        &nbsp; font-size: 30px;
                        &nbsp; line-height: 42px;
                      }
                      </pre>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <hr>

            <!--content-text--body-->
            <section>
              <div>
                <p class="content-text content-text--body">
                  Body Copy
                  <br/>
                  As marketing and web technologies converge at an ever-accelerating pace, Promet <br />
                  Source develops thought-leading and dynamic solutions that optimize impact <br />
                  within the digital environment.
                </p>
              </div>
              <div>
                <a class="btn btn-link" data-toggle="collapse" href="#content-text-body"
                  role="button" aria-expanded="false" aria-controls="collapseExample">
                  Details >
                </a>
                <div class="collapse" id="content-text-body">
                  <div class="card card-body">
                    <h6>Markup</h6>
                    <code>
                      &lt;p class=&quot;content-text content-text--body&quot;&gt;
                      Body Copy
                      &lt;br/&gt;
                      As marketing and web technologies converge at an ever-accelerating pace, Promet
                      &lt;br /&gt;
                      Source develops thought-leading and dynamic solutions that optimize impact
                      &lt;br /&gt;
                      within the digital environment.
                      &lt;/p&gt;
                    </code>
                    <br>
                    <h6>CSS</h6>
                    <div>
                      <pre>
                      .content-text--body {
                        &nbsp; font-size: 18px;
                        &nbsp; line-height: 37px;
                      }
                      .content-text--body, .content-text--description {
                        &nbsp; color: #515151;
                      }
                      .content-text {
                        &nbsp; font-family: hindregular;
                      }
                      </pre>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!--content-text--description-->
            <section>
              <div>
                <p class="content-text content-text--description">
                  Description <br>
                  We draw upon informed research, and the insights of our UXperts, to incorporate <br>
                  audience perspectives and behaviors into solutions that are both efficient and <br>
                  elegant in their simplicity.
                </p>
              </div>
              <div>
                <a class="btn btn-link" data-toggle="collapse" href="#content-text-description"
                  role="button" aria-expanded="false" aria-controls="collapseExample">
                  Details >
                </a>
                <div class="collapse" id="content-text-description">
                  <div class="card card-body">
                    <h6>Markup</h6>
                    <code>
                      &lt;p class=&quot;content-text content-text--description&quot;&gt;
                      Description &lt;br&gt;
                      We draw upon informed research, and the insights of our UXperts, to incorporate
                      &lt;br&gt;
                      audience perspectives and behaviors into solutions that are both efficient and
                      &lt;br&gt;
                      elegant in their simplicity.
                      &lt;/p&gt;
                    </code>
                    <br>
                    <h6>CSS</h6>
                    <div>
                      <pre>
                        .content-text--description {
                          &nbsp; font-size: 16px;
                          &nbsp; line-height: 25px;
                        }
                        .content-text--body, .content-text--description {
                          &nbsp; color: #515151;
                        }
                        .content-text {
                          &nbsp; font-family: hindregular;
                        }
                      </pre>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!--content-text--body--dark-bg-->
            <section>
              <div style="background-color: black;">
                <p class="content-text content-text--body content-text-body--dark-bg">
                  Body Copy
                  <br />
                  As marketing and web technologies converge at an ever-accelerating pace,
                  Promet <br />
                  Source develops thought-leading and dynamic solutions that optimize impact
                  <br />
                  within the digital environment.
                </p>
              </div>
              <div>
                <a class="btn btn-link" data-toggle="collapse" href="#content-text-body-dark-bg"
                  role="button" aria-expanded="false" aria-controls="collapseExample">
                  Details >
                </a>
                <div class="collapse" id="content-text-body-dark-bg">
                  <div class="card card-body">
                    <h6>Markup</h6>
                    <code>
                      &lt;p class=&quot;content-text content-text--body content-text-body--dark-bg&quot;&gt;
                      Body Copy
                      &lt;br/&gt;
                      As marketing and web technologies converge at an ever-accelerating pace, Promet
                      &lt;br /&gt;
                      Source develops thought-leading and dynamic solutions that optimize impact
                      &lt;br /&gt;
                      within the digital environment.
                      &lt;/p&gt;
                    </code>
                    <br>
                    <h6>CSS</h6>
                    <div>
                      <pre>
                        .content-text-body--dark-bg {
                          &nbsp; color: #fff;
                        }
                        .content-text--body {
                          &nbsp; font-size: 18px;
                          &nbsp; line-height: 37px;
                        }
                        .content-text--body, .content-text--description {
                          &nbsp; color: #515151;
                        }
                        .content-text {
                          &nbsp; font-family: hindregular;
                        }
                      </pre>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!--content-text--description--dark-bg-->
            <section>
              <div style="background-color: black;">
                <p class="content-text content-text--description content-text--description--dark-bg">
                  Description <br>
                  We draw upon informed research, and the insights of our UXperts, to
                  incorporate <br>
                  audience perspectives and behaviors into solutions that are both efficient
                  and <br>
                  elegant in their simplicity.
                </p>
              </div>
              <div>
                <a class="btn btn-link" data-toggle="collapse"
                  href="#content-text-description-dark-bg" role="button" aria-expanded="false"
                  aria-controls="collapseExample">
                  Details >
                </a>
                <div class="collapse" id="content-text-description-dark-bg">
                  <div class="card card-body">
                    <h6>Markup</h6>
                    <code>
                      &lt;p class=&quot;content-text content-text--description content-text--description--dark-bg&quot;&gt;
                      Description &lt;br&gt;
                      We draw upon informed research, and the insights of our UXperts, to incorporate
                      &lt;br&gt;
                      audience perspectives and behaviors into solutions that are both efficient and
                      &lt;br&gt;
                      elegant in their simplicity.
                      &lt;/p&gt;
                    </code>
                    <br>
                    <h6>CSS</h6>
                    <div>
                      <pre>
                        .content-text--description--dark-bg {
                          &nbsp; color: #fff;
                        }
                        .content-text--description {
                          &nbsp; font-size: 16px;
                          &nbsp; line-height: 25px;
                        }
                        .content-text--body, .content-text--description {
                          &nbsp; color: #515151;
                        }
                        .content-text {
                          &nbsp; font-family: hindregular;
                        }
                      </pre>
                    </div>
                  </div>
                </div>
              </div>
            </section>

          </div>


        </div>
      </div>
    </div>
    <script src="/themes/custom/promet_v3/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/themes/custom/promet_v3/js/bootstrap.min.js"></script>
    <script src="/themes/custom/promet_v3/js/popper.min.js"></script>

  </body>
</html>
