   <div class="resourses-filter">
        <div class="resourses-filter__top">
            <button class="resourses-filter__drop js-filter-drop">Filter By <span class="hide">Category</span><span class="category">Automotive</span></button>
            <div class="resourses-filter__active">Automotive</div>
        </div>
        <div class="menu-resources-filter-container js-filter-content">
            <ul id="menu-resources-filter" class="menu">
                <li id="menu-item-30086" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-30086"><a href="http://localhost/appen/resources/roles/">ROLES</a>
                    <ul class="sub-menu">
                        <li id="menu-item-30087" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-30087"><a href="http://localhost/appen/resources/roles/business/">Business</a></li>
                        <li id="menu-item-30088" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-30088"><a href="http://localhost/appen/resources/roles/technology/">Technology</a></li>
                    </ul>
                </li>
                <li id="menu-item-30079" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-30079"><a href="http://localhost/appen/resources/industries/">INDUSTRIES</a>
                    <ul class="sub-menu">
                        <li id="menu-item-30080" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-30080"><a href="http://localhost/appen/resources/industries/automotive/">Automotive</a></li>
                        <li id="menu-item-30081" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-30081"><a href="http://localhost/appen/resources/industries/financial/">Financial</a></li>
                        <li id="menu-item-30082" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-30082"><a href="http://localhost/appen/resources/industries/government/">Government</a></li>
                        <li id="menu-item-30083" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-30083"><a href="http://localhost/appen/resources/industries/healthcare/">Healthcare</a></li>
                        <li id="menu-item-30084" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-30084"><a href="http://localhost/appen/resources/industries/retail/">Retail</a></li>
                        <li id="menu-item-30085" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-30085"><a href="http://localhost/appen/resources/industries/technology-industries/">Technology</a></li>
                    </ul>
                </li>
                <li id="menu-item-30072" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-30072"><a href="http://localhost/appen/resources/content-types/">CONTENT TYPES</a>
                    <ul class="sub-menu">
                        <li id="menu-item-30073" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-30073"><a href="http://localhost/appen/resources/content-types/blogs/">Blogs</a></li>
                        <li id="menu-item-30074" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-30074"><a href="http://localhost/appen/resources/content-types/cases-study/">Cases Study</a></li>
                        <li id="menu-item-30075" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-30075"><a href="http://localhost/appen/resources/content-types/datasets/">Datasets</a></li>
                        <li id="menu-item-30076" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-30076"><a href="http://localhost/appen/resources/content-types/e-books/">E-Books</a></li>
                        <li id="menu-item-30077" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-30077"><a href="http://localhost/appen/resources/content-types/webinars-content-types/">Webinars</a></li>
                        <li id="menu-item-30078" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-30078"><a href="http://localhost/appen/resources/content-types/whitepapers-content-types/">Whitepapers</a></li>
                    </ul>
                </li>
                <li id="menu-item-30089" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-30089"><a href="http://localhost/appen/resources/topics/">TOPICS</a>
                    <ul class="sub-menu">
                        <li id="menu-item-30090" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-30090"><a href="http://localhost/appen/resources/topics/artificial-intelligence/">Artificial Intelligence</a></li>
                        <li id="menu-item-30091" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-30091"><a href="http://localhost/appen/resources/topics/education/">Education</a></li>
                        <li id="menu-item-30092" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-30092"><a href="http://localhost/appen/resources/topics/machine-learning/">Machine Learning</a></li>
                        <li id="menu-item-30093" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-30093"><a href="http://localhost/appen/resources/topics/platforms/">Platforms</a></li>
                        <li id="menu-item-30094" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-30094"><a href="http://localhost/appen/resources/topics/tools/">Tools</a></li>
                    </ul>
                </li>
                <a class="js-reset-filter">Reset Filter</a>
            </ul>
        </div>
    </div>