<section class="appen-hero resourses-hero">
        <div class="appen-wrap">
            <ul class="appen-hero__breadcrumbs">
                <li><a href="#">Resources</a></li>
            </ul>
            <h1>AI Resource Center</h1>
            <p>Created and curated for data science and machine learning teams</p>
        </div>
        <div class="appen-hero__decor">
            <span class="appen-hero__decor-wrap"><img src="./images/red-dots.png" alt=""></span>
        </div>
        @@include("./_filter.html")
</section>