.cta-orange {
  width: 160px;
  background: $grenadier;
  font-family: $font-family-hind;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1.86px;
  position: absolute;
  right: 20px;
  top: 20px;
  color: #fff;
  text-align: center;
  padding: 10px;
  z-index: 99;
}
